.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .panel .panel-heading .input-group {

  .form-control {
    height: 42px;
  }
}

.group-root-path {
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.content-list .group-name {
  font-weight: $gl-font-weight-bold;
  color: $pages-group-name-color;
}

.group-row {
  @include basic-list-stats;
}

.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}

.group-nav-container .nav-controls {
  display: flex;
  align-items: flex-start;
  padding: $gl-padding-top 0;
  border-bottom: 1px solid $border-color;

  .group-filter-form {
    flex: 1;
  }

  .dropdown-menu-align-right {
    margin-top: 0;
  }

  .new-project-subgroup {
    .dropdown-primary {
      min-width: 115px;
    }

    .dropdown-toggle {
      .dropdown-btn-icon {
        pointer-events: none;
        color: inherit;
        margin-left: 0;
      }
    }

    .dropdown-menu {
      min-width: 280px;
      margin-top: 2px;
    }

    li:not(.divider) {
      padding: 0;

      &.droplab-item-selected {
        .icon-container {
          .list-item-checkmark {
            visibility: visible;
          }
        }
      }

      .menu-item {
        padding: 8px 4px;

        &:hover {
          background-color: $gray-darker;
          color: $theme-gray-900;
        }
      }

      .icon-container {
        float: left;
        padding-left: 6px;

        .list-item-checkmark {
          visibility: hidden;
        }
      }

      .description {
        font-size: 14px;

        strong {
          display: block;
          font-weight: $gl-font-weight-bold;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    &,
    .dropdown,
    .dropdown .dropdown-toggle,
    .btn-new {
      display: block;
    }

    .group-filter-form,
    .dropdown {
      margin-bottom: 10px;
      margin-right: 0;
    }

    .group-filter-form,
    .dropdown .dropdown-toggle,
    .btn-new {
      width: 100%;
    }

    .dropdown .dropdown-toggle .fa-chevron-down {
      position: absolute;
      top: 11px;
      right: 8px;
    }

    .new-project-subgroup {
      display: flex;
      align-items: flex-start;

      .dropdown-primary {
        flex: 1;
      }

      .dropdown-menu {
        width: 100%;
        max-width: inherit;
        min-width: inherit;
      }
    }
  }
}

.groups-empty-state {
  padding: 50px 100px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  svg {
    float: right;

    @media (max-width: $screen-sm-max) {
      float: none;
      display: block;
      width: 250px;
      position: relative;
      left: 50%;
      margin-left: -125px;
    }
  }

  .text-content {
    float: left;
    width: 460px;
    margin-top: 120px;

    @media (max-width: $screen-sm-max) {
      float: none;
      margin-top: 60px;
      width: auto;
      text-align: center;
    }
  }
}

.panel {
  .shared_runners_limit_under_quota {
    color: $gl-success;
  }

  .shared_runners_limit_over_quota {
    color: $gl-danger;
  }
}

.pipeline-quota {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  margin: 0 0 $gl-padding;

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .right {
    text-align: right;
  }

  .progress {
    height: 6px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.user-settings-pipeline-quota {
  margin-top: $gl-padding;

  .pipeline-quota {
    border-top: 0;
  }
}

table.pipeline-project-metrics tr td {
  padding: $gl-padding;
}

.mattermost-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.mattermost-team-name {
  color: $gl-text-color-secondary;
}

.mattermost-info {
  display: block;
  color: $gl-text-color-secondary;
  margin-top: 10px;
}

.explore-groups.landing {
  .inner-content {
    padding: 0;

    p {
      margin: 7px 0 0;
      max-width: 480px;
      padding: 0 $gl-padding;

      @media (max-width: $screen-sm-min) {
        margin: 0 auto;
      }
    }
  }

  svg {
    width: 62px;
    height: 50px;
  }
}

.user-access-role {
  display: inline-block;
  color: $gl-text-color-secondary;
  font-size: 12px;
  line-height: 20px;
  margin: -5px 3px;
  padding: 0 $label-padding;
  border: 1px solid $border-color;
  border-radius: $label-border-radius;
  font-weight: $gl-font-weight-normal;
}

.js-groups-dropdown {
  width: 100%;
}

.dropdown-group-transfer {
  bottom: 100%;
  top: initial;

  .dropdown-content {
    overflow-y: unset;
  }
}
